support-workers/cloud-formation/src/templates/three-tier-state-machine.yaml
Comment: Carries out the steps needed to create a Subscription or Regular Contributor
StartAt: ThreeTierUnpackJsonList
TimeoutSeconds: 86400
States:
  # Unpack the list of states from the parallel tasks into a single item
  ThreeTierUnpackJsonList:
    Type: Pass
    InputPath: $.[0]
    Next: ThreeTierShouldCreateSupporterPlusSubscription

  ThreeTierShouldCreateSupporterPlusSubscription:
    Type: Choice
    Choices:
      - Next: ThreeTierUnpackSendThankYouEmailState
        And:
          - Variable: $.state.acquisitionData.threeTierCreateSupporterPlusSubscription
            IsPresent: true
          - Variable: $.state.acquisitionData.threeTierCreateSupporterPlusSubscription
            BooleanEquals: true
          - Variable: $.state.sendThankYouEmailState.product.productType
            IsPresent: true
          - Variable: $.state.sendThankYouEmailState.product.productType
            StringEquals: GuardianWeekly
    Default: Done

  # This transform
  # - moves state from `sendThankYouEmailState` back into the root state
  # - adds `paymentFields.billingAccountId` that's required by `PreparePaymentMethodForReuse`
  ThreeTierUnpackSendThankYouEmailState:
    Type: Pass
    Parameters:
      state:
        paymentFields:
          billingAccountId.$: $.state.sendThankYouEmailState.accountNumber
        user.$: $.state.sendThankYouEmailState.user
        product.$: $.state.sendThankYouEmailState.product
        giftRecipient.$: $.state.sendThankYouEmailState.giftRecipient
        paymentMethod.$: $.state.sendThankYouEmailState.paymentMethod
        paymentSchedule.$: $.state.sendThankYouEmailState.paymentSchedule
        promoCode.$: $.state.sendThankYouEmailState.promoCode
        accountNumber.$: $.state.sendThankYouEmailState.accountNumber
        subscriptionNumber.$: $.state.sendThankYouEmailState.subscriptionNumber
        firstDeliveryDate.$: $.state.sendThankYouEmailState.firstDeliveryDate
        productType.$: $.state.sendThankYouEmailState.productType
        requestId.$: $.state.requestId
        analyticsInfo.$: $.state.analyticsInfo
        acquisitionData.$: $.state.acquisitionData
      error.$: $.error
      requestInfo.$: $.requestInfo
    Next: ThreeTierChooseSupporterPlusProduct

  ThreeTierChooseSupporterPlusProduct:
    Type: Choice
    # These choices have a Next set to the steps generated by `supporterPlusProduct` below
    Choices:
      {{> supporterPlusProductChoice countryCode="GB" billingPeriod="Monthly" }}
      {{> supporterPlusProductChoice countryCode="EU" billingPeriod="Monthly" }}
      {{> supporterPlusProductChoice countryCode="INT" billingPeriod="Monthly" }}
      {{> supporterPlusProductChoice countryCode="US" billingPeriod="Monthly" }}
      {{> supporterPlusProductChoice countryCode="CA" billingPeriod="Monthly" }}
      {{> supporterPlusProductChoice countryCode="NZ" billingPeriod="Monthly" }}
      {{> supporterPlusProductChoice countryCode="AU" billingPeriod="Monthly" }}
      {{> supporterPlusProductChoice countryCode="GB" billingPeriod="Annual" }}
      {{> supporterPlusProductChoice countryCode="EU" billingPeriod="Annual" }}
      {{> supporterPlusProductChoice countryCode="INT" billingPeriod="Annual" }}
      {{> supporterPlusProductChoice countryCode="US" billingPeriod="Annual" }}
      {{> supporterPlusProductChoice countryCode="CA" billingPeriod="Annual" }}
      {{> supporterPlusProductChoice countryCode="NZ" billingPeriod="Annual" }}
      {{> supporterPlusProductChoice countryCode="AU" billingPeriod="Annual" }}

  # These steps are called from the `supporterPlusProductChoice` choices above
  {{> supporterPlusProduct countryCode="GB" currency="GBP" amount=10 billingPeriod="Monthly" promoCode="3TIER_SUPPORTERPLUS_UK_MONTHLY" }}
  {{> supporterPlusProduct countryCode="EU" currency="EUR" amount=10 billingPeriod="Monthly" promoCode="3TIER_SUPPORTERPLUS_EU_MONTHLY" }}
  {{> supporterPlusProduct countryCode="INT" currency="USD" amount=13 billingPeriod="Monthly" promoCode="3TIER_SUPPORTERPLUS_INT_MONTHLY" }}
  {{> supporterPlusProduct countryCode="US" currency="USD" amount=13 billingPeriod="Monthly" promoCode="3TIER_SUPPORTERPLUS_US_MONTHLY" }}
  {{> supporterPlusProduct countryCode="CA" currency="CAD" amount=13 billingPeriod="Monthly" promoCode="3TIER_SUPPORTERPLUS_CA_MONTHLY" }}
  {{> supporterPlusProduct countryCode="NZ" currency="NZD" amount=17 billingPeriod="Monthly" promoCode="3TIER_SUPPORTERPLUS_NZ_MONTHLY" }}
  {{> supporterPlusProduct countryCode="AU" currency="AUD" amount=17 billingPeriod="Monthly" promoCode="3TIER_SUPPORTERPLUS_AU_MONTHLY" }}
  {{> supporterPlusProduct countryCode="GB" currency="GBP" amount=95 billingPeriod="Annual" promoCode="3TIER_SUPPORTERPLUS_UK_ANNUAL" }}
  {{> supporterPlusProduct countryCode="EU" currency="EUR" amount=95 billingPeriod="Annual" promoCode="3TIER_SUPPORTERPLUS_EU_ANNUAL" }}
  {{> supporterPlusProduct countryCode="INT" currency="USD" amount=120 billingPeriod="Annual" promoCode="3TIER_SUPPORTERPLUS_INT_ANNUAL" }}
  {{> supporterPlusProduct countryCode="US" currency="USD" amount=120 billingPeriod="Annual" promoCode="3TIER_SUPPORTERPLUS_US_ANNUAL" }}
  {{> supporterPlusProduct countryCode="CA" currency="CAD" amount=120 billingPeriod="Annual" promoCode="3TIER_SUPPORTERPLUS_CA_ANNUAL" }}
  {{> supporterPlusProduct countryCode="NZ" currency="NZD" amount=160 billingPeriod="Annual" promoCode="3TIER_SUPPORTERPLUS_NZ_ANNUAL" }}
  {{> supporterPlusProduct countryCode="AU" currency="AUD" amount=160 billingPeriod="Annual" promoCode="3TIER_SUPPORTERPLUS_AU_ANNUAL" }}

  ThreeTierPreparePaymentMethodForReuse:
    Type: Task
    Resource: "${PreparePaymentMethodForReuseLambda.Arn}"
    Next: ThreeTierCreateZuoraSubscription
    {{> retry}}
    {{> catch}}

  ThreeTierCreateZuoraSubscription:
    Type: Task
    Resource: "${CreateZuoraSubscriptionLambda.Arn}"
    Next: ParallelTasks
    {{> retry}}
    {{> catch}}

  Done:
    Type: Pass
    End: True

  FailureHandler:
    Type: Task
    Resource: "${FailureHandlerLambda.Arn}"
    Next: SucceedOrFailChoice
    {{> emailRetry}}

  SucceedOrFailChoice:
    Type: Choice
    Choices:
      - Variable: "$.requestInfo.failed"
        BooleanEquals: true
        Next: FailState
    Default: CheckoutFailure

  # Do not rename this step as it is used by support-frontend's polling logic.
  # From a user's perspective the checkout didn't work (e.g. their card wasn't accepted), but the code worked as expected
  CheckoutFailure:
    Type: Pass
    End: True

  # The Step Function failed in an unexpected way at some stage of the execution (i.e. an unknown problem with our code)
  FailState:
    Type: Fail

  ParallelTasks:
    Type: Parallel
    Branches:
      - StartAt: CheckoutSuccess
        States:
          # Do not rename this step as it is used by support-frontend's polling logic.
          CheckoutSuccess:
            Type: Pass
            End: True
      - StartAt: SendThankYouEmail
        States:
          SendThankYouEmail:
            Type: Task
            Resource: "${SendThankYouEmailLambda.Arn}"
            End: True
            {{> emailRetry}}
      - StartAt: UpdateSupporterProductData
        States:
          UpdateSupporterProductData:
            Type: Task
            Resource: "${UpdateSupporterProductDataLambda.Arn}"
            End: True
            {{> retry}}
      - StartAt: SendAcquisitionEvent
        States:
          SendAcquisitionEvent:
            Type: Task
            Resource: "${SendAcquisitionEventLambda.Arn}"
            End: True
            {{> retry}}
    End: True
