cloud-formation/src/templates/state-machine.yaml
Comment: Carries out the steps needed to create a Monthly Contributor
StartAt: CreatePaymentMethod
TimeoutSeconds: 86400
States:
  CreatePaymentMethod:
    Type: Task
    Resource: "${CreatePaymentMethodLambda.Arn}"
    Next: CreateSalesforceContact
    {{> retry}}
    {{> catch}}

  CreateSalesforceContact:
    Type: Task
    Resource: "${CreateSalesforceContactLambda.Arn}"
    Next: CreateZuoraSubscription
    {{> retry}}
    {{> catch}}

  CreateZuoraSubscription:
    Type: Task
    Resource: "${CreateZuoraSubscriptionLambda.Arn}"
    Next: ParallelTasks
    {{> retry}}
    {{> catch}}

  ParallelTasks:
    Type: Parallel
    Branches:
    - StartAt: CheckoutSuccess
      States:
        # Do not rename this step as it is used by support-frontend's polling logic.
        CheckoutSuccess:
          Type: Pass
          End: True
    - StartAt: SendThankYouEmail
      States:
        SendThankYouEmail:
          Type: Task
          Resource: "${SendThankYouEmailLambda.Arn}"
          End: True
          {{> emailRetry}}
    - StartAt: SendAcquisitionEvent
      States:
        SendAcquisitionEvent:
          Type: Task
          Resource: "${SendAcquisitionEventLambda.Arn}"
          End: True
          {{> retry}}
    Next: WaitForBrowserPoll

  FailureHandler:
    Type: Task
    Resource: "${FailureHandlerLambda.Arn}"
    Next: SucceedOrFailChoice
    {{> emailRetry}}

  SucceedOrFailChoice:
    Type: Choice
    Choices:
      - Variable: "$.requestInfo.failed"
        BooleanEquals: true
        Next: FailState
    Default: CheckoutFailure

  # Do not rename this step as it is used by support-frontend's polling logic.
  # From a user's perspective the checkout didn't work (e.g. their card wasn't accepted), but the code worked as expected
  CheckoutFailure:
    Type: Pass
    End: True

  # The Step Function failed in an unexpected way at some stage of the execution (i.e. an unknown problem with our code)
  FailState:
    Type: Fail

